.calendar {
  width: 100%;
}
.calendar-header {
  &-left {
    display: flex;
    align-items: center;
    height: 28px;
    line-height: 28px;
  }

  &-value {
    font-size: 20px;
  }

  &-btn {
    padding: 0 15px;
    border: 0;
    background: #eee;
    line-height: 28px;
    cursor: pointer;

    &:hover {
      background: #ccc;
    }
  }

  &-icon {
    margin-right: 12px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    line-height: 28px;
    cursor: pointer;

    user-select: none;
    &:not(:first-child) {
      margin: 0 12px;
    }

    &:hover {
      background: #ccc;
    }
  }
}
.calendar-month {
  height: auto;
  &-week-list {
    display: flex;
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid #eee;

    &-item {
      flex: 1;
      padding: 20px 16px;
      color: #7d7d7f;
      text-align: left;
    }
  }

  &-body {
    &-row {
      display: flex;
      height: 100px;
    }
    &-cell {
      display: grid;
      overflow: hidden;
      flex: 1;
      border: 1px solid #eee;
      color: #ccc;

      place-items: center;
      &-current {
        color: #000;
      }
      &-date {
        padding: 10px;

        &-selected {
          width: 28px;
          height: 28px;
          border-radius: 50%;
          background: blue;
          color: #fff;
          text-align: center;
          line-height: 28px;
          cursor: pointer;
        }
      }
    }
  }
}
